body{
font-family:Arial;
background:#f4f6f9;
}

.topbar{
background:#232f3e;
color:white;
padding:15px;
display:flex;
justify-content:space-between;
}

table{
width:90%;
margin:auto;
background:white;
border-collapse:collapse;
}

th,td{
padding:12px;
border-bottom:1px solid #ddd;
}

th{
background:#fafafa;
}

.formbox{
width:700px;
margin:auto;
background:white;
padding:30px;
margin-top:30px;
}

input,textarea,select{
width:100%;
padding:8px;
margin-bottom:10px;
}

button{
background:#0073bb;
color:white;
padding:10px;
border:none;
}

.formbox{
width:900px;
margin:auto;
background:white;
padding:30px;
margin-top:30px;
}

.skill-table{
width:100%;
border-collapse:collapse;
}

.skill-table th,
.skill-table td{
border:1px solid #ddd;
padding:10px;
}

.skill-table th{
background:#f2f2f2;
}